<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SaaEquipmentNo" value="1"/>
    <add key="SaaEquipmentName" value="VA-700C"/><!--設備機型-->
    <add key="StorageWebApiServerIP" value="http://192.168.1.251:20000/ASE/K21.asmx/ReceiveCmd"/><!--LCS Web Api伺服器IP位置-->
    <add key="iLISWebApiServerIP" value="http://127.0.0.1:81/"/><!--iLIS Web Api伺服器IP位置-->
    <add key="WebApiServerIP" value="http://127.0.0.1:7074"/><!--Web Api伺服器IP位置-->
    <add key="SaaDataBase" value="SAADB_LIFTLCS"/><!--資料庫名稱 -->
    <add key="SaaDataBaseIP" value="127.0.0.1\SQLEXPRESS"/><!--資料庫IP位置-->
    <add key="SaaDataBaseName" value="sa"/><!--資料庫帳號-->
    <add key="SaaDataBasePassword" value="123456"/><!--資料庫密碼-->
    <add key="SaaLogName" value="SAA_CommunicationSystem.config"/><!--NLog Config檔案名稱-->
    <add key="WebApiResultOK" value="OK"/><!--回覆LCS接受結果完成-->
    <add key="WebApiResultFAIL" value="FAIL"/><!--回覆LCS接受結果失敗-->
    <add key="SaaSystemsName" value="SAA_CommunicationSystem"/><!--系統名稱-->
    <add key="ParaKey" value="data"/><!--傳送指令至LCS Web Api伺服器關鍵字-->
  </appSettings>
</configuration>