<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiServerIP" value="http://127.0.0.1:7074"/><!--Web Api伺服器IP位置-->
    <add key="SaaDataBase" value="SAADB_LIFTLCS"/><!--資料庫名稱 -->
    <add key="SaaDataBaseIP" value="127.0.0.1\SQLEXPRESS"/><!--資料庫IP位置-->
    <add key="SaaDataBaseName" value="sa"/><!--資料庫帳號-->
    <add key="SaaDataBasePassword" value="123456"/><!--資料庫密碼-->
    <add key="SaaLogName" value="SAA_CommunicationSystem.config"/><!--NLog Config檔案名稱-->
    <add key="WebApiResultOK" value="OK"/><!--回覆LCS接受結果完成-->
    <add key="WebApiResultFAIL" value="FAIL"/><!--回覆LCS接受結果失敗-->
  </appSettings>
</configuration>