<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SaaEquipmentNo" value="3"/><!--設備機型編號-->
    <add key="SaaEquipmentName" value="VST-100"/><!--設備機型-->
    <add key="StorageWebApiServerIP" value="http://192.168.1.19:20000/ASE/K21.asmx/ReceiveCmd"/><!--LCS Web Api伺服器IP位置-->
    <add key="iLISWebApiServerIP" value="http://192.168.2.79:5260/"/><!--iLIS Web Api伺服器IP位置-->
    <add key="WebApiServerIP" value="http://127.0.0.1:7074"/><!--Web Api伺服器IP位置-->
    <add key="LiftWebApiServerIP" value="http://127.0.0.1:7075"/>
    <add key="SaaDataBase" value="SAADB_VST100"/><!--資料庫名稱 -->
    <add key="SaaDataBaseIP" value="127.0.0.1"/><!--資料庫IP位置-->
    <add key="SaaDataBaseName" value="sa"/><!--資料庫帳號-->
    <add key="SaaDataBasePassword" value="123456"/><!--資料庫密碼-->
    <add key="SaaLogName" value="SAA_CommunicationSystem.config"/><!--NLog Config檔案名稱-->
    <add key="WebApiResultOK" value="OK"/><!--回覆LCS接受結果完成-->
    <add key="WebApiResultFAIL" value="FAIL"/><!--回覆LCS接受結果失敗-->
    <add key="SaaSystemsName" value="SAA_CommunicationSystem"/><!--系統名稱-->
    <add key="ParaKey" value="data"/><!--傳送指令至LCS Web Api伺服器關鍵字-->
    <add key="SaaVST101StationName" value="K21-8F_ASEF1-RGV_SWITCH2"/>
    <add key="SaaDestinationIniName" value="SaaIni\SaaDestinationIniName.ini"/>
    <add key="SaaIniParaKey" value="SaaDestination"/>
    <add key="SaaIniParaKeyStation" value="SaaStation"/>
    <add key="PARTICLE" value="PARTICLE"/>
  </appSettings>
</configuration>